@charset "utf-8";
/* CSS Document */

/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin:0; padding:0; border:none; outline:0; font-size:100%; font-style:normal; }
h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, form, img, p { list-style-type:none; }
:focus{ outline:0 none; }
table { border-collapse:collapse; border-spacing:0; }

/* hack */
.clear { display:block; overflow:hidden; clear:both; height:0; line-height:0; font-size:0; }
html, body { -webkit-text-size-adjust:none; }

/* text */
body { font:normal 12px/150% "宋体","SimSun",Arial,Lucida,Verdana,Helvetica,sans-serif; color:#333; background-color:#fff; }
h1, h2 ,h3 ,h4, h5, h6 { font-size:12px; font-weight:normal; }

/* link */
a { color:#333333; text-decoration:none; }
a:hover { color:#ff6100; text-decoration:underline; }
a:active, a:focus { outline:none; }

/* blank */
.blank5 { height:5px; line-height:5px; clear:both; visibility:hidden; }
.blank10 { height:10px; line-height:10px; clear:both; visibility:hidden; }
.blank15 { height:15px; line-height:15px; clear:both; visibility:hidden; }
.blank20 { height:20px; line-height:20px; clear:both; visibility:hidden; }
.blank30 { height:30px; line-height:30px; clear:both; visibility:hidden; }
.blank40 { height:40px; line-height:40px; clear:both; visibility:hidden; }
.blank50 { height:50px; line-height:50px; clear:both; visibility:hidden; }
.blank100 { height:100px; line-height:100px; clear:both; visibility:hidden; }

/* float */
.fl { float:left; }
.fr { float:right; }
.fn { float:none; }


/* style */
.wrap { margin:0px auto; width:450px; margin-top:100px; }
.scroll_a { width:250px; height:200px; }
.scroll_b { width:450px; height:200px; }
.scroller1 { width:200px; height:200px; position:absolute; overflow:hidden; background:url(../images/container_background.gif) no-repeat;}
.scroller2 { width:400px; height:200px; position:absolute; overflow:hidden; background:url(../images/container_background.gif) no-repeat;}
.container { position:absolute; }
.container p { text-indent:20px; color:#6F6048; }

.scrollbar { float:right; }
.scrollbar_track { position:relative; width:20px; height:161px; background:url(../images/scrollbar_track.gif) center center no-repeat; margin-left:3px; }
.scrollbar_handle { position:absolute; width:20px; height:22px; }