body {font-family:'Open Sans',sans-serif;color:#666;background-color:#191919;font-size:16px;line-height:1.6em;font-weight:400;}
html,body {width:100%;padding:0;margin:0;}
html {-webkit-text-size-adjust:none;-webkit-tap-highlight-color:rgba(255,255,255,0);-webkit-user-select:none;-moz-user-focus:none;-moz-user-select:none;}
img {max-width:100%;height:auto;width:auto\9;/* ie8 */}
h1,h2,h3,h4,h5,h6 {font-weight:600;color:#111;}
p {margin:0;}
a {color:#785843;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;transition:all .2s ease-in-out;}
ul {list-style:none;}
a:hover,a:focus {text-decoration:none;}
/* 滑动区域 及动画*/
#owl-brandB .swiper-slide {width:50%;}
.hero-dot ul {padding-left:0;}
.model-hero {width:100%;height:715px;position:relative;}
.hero-item {width:100%;height:100%;position:relative;}
.hero-item ul li {width:50%;position:absolute;top:15px;left:30%;transform:scale(0.5);filter:alpha(opacity=0);-moz-opacity:0;opacity:0;-webkit-transition:0.8s;transition:0.8s;}
.hero-item ul li img {display:block;width:80%;margin:0 auto;}
.hero-item ul li.active-prev {cursor:pointer;top:15px;left:-10%;transform:scale(0.7);opacity:0.7;}
.hero-item ul li.active {cursor:pointer;top:15px;left:25%;z-index:99;transform:scale(1);opacity:1;filter:alpha(opacity=100);}
.hero-item ul li.active-next {cursor:pointer;top:15px;left:60%;transform:scale(0.7);opacity:0.7;}
.hero-dot {height:14px;width:100%;position:absolute;bottom:-40px;left:0px;text-align:center;font-size:0px;z-index:100;}
.hero-dot ul li {cursor:pointer;display:inline-block;width:14px;height:14px;border-radius:50%;background:#7b97c8;margin:0 15px;background:#7b97c8}
.hero-dot ul li.on {background:#d2a75c;}
.prevBtn,.nextBtn {z-index:100;position:absolute;top:40%;width:29px;height:53px;cursor:pointer;}
.prevBtn {left:0px;background:url(../images/index_prev.png);}
.nextBtn {right:0px;background:url(../images/index_next.png);}
/* 左右箭头 */
#owl-brandB {position:relative;width:90%;max-width:1200px;margin:auto;}
#owl-brandB ul li h3 {position:absolute;text-align:center;width:100%;font-style:normal;margin:30px 0 0 0;padding-left:5%;font-size:24px;color:#fff;}
/* 移动端调试 */
@media screen and (max-width:767px) {
    .model-hero{height: 250px;}
    .hero-dot ul li {width:10px;height:10px;}
    #owl-brandB ul li h3 {font-size:14px;margin-top:0;}
    .hero-dot {bottom:15px;}
    .hero-dot ul li {margin:0 8px;}
}
