@import '/logo/sl_logo.css';
/*all*/
body{font:normal 16px/28px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";color:#fff;background:url(//i1.cy.com/sl/cover/20150701/cover_bg.jpg) center 55px no-repeat}
.none{display:none}
.sl_logo_bg,.sl_logo_lk a{left:10px;top:30px}
.cover_wrap{width: 1000px;margin: 0 auto;overflow: hidden;position: relative}

/*cover_header*/
.cover_header{background: url(//i1.cy.com/sl/cover/20150716/cover_header.jpg) no-repeat;height: 621px;overflow: hidden;position: relative}
.cover_head_btn{position: absolute;background: url(//i1.cy.com/sl/cover/20150716/cover_sprite.png) no-repeat;width: 176px;height:76px;overflow: hidden;text-indent: -1987em;}
.btn_reg{top:509px;left:55px;background-position: 0 -66px}
.btn_down{top:487px;left:228px;background-position:-176px -44px}
.btn_card{top:465px;left:399px;background-position:-352px -22px}
.btn_home{top:444px;left:570px;background-position: -528px 0}
.btn_reg:hover{background-position: 0 -216px}
.btn_down:hover{background-position: -176px -194px}
.btn_card:hover{background-position: -352px -172px}
.btn_home:hover{background-position: -528px -150px}
#flash_header{position: absolute}


/*cover_clm2*/
.cover_clm2{background: url(//i1.cy.com/sl/cover/20150701/cover_clm2.jpg) no-repeat;height: 431px;overflow: hidden;position: relative}
.cover_slide_cover{display: block;position: absolute;overflow: hidden;top:17px;z-index:10;width: 644px;height: 383px;}
.cs_top{background: url(//i1.cy.com/sl/cover/20150701/cover_slide_top.png) no-repeat;width: 628px;height: 7px;left: 32px;}
.cs_right{background: url(//i1.cy.com/sl/cover/20150701/cover_slide_right.png) no-repeat;width: 10px;height: 272px;left: 662px;}
.cs_left{background: url(//i1.cy.com/sl/cover/20150701/cover_slide_left.png) no-repeat;width: 8px;height: 272px;left: 26px;}

.cc2_slide{position: absolute;top:17px;left: 26px;}
.cc2_slide ul{width: 644px;height: 272px;overflow: hidden;margin-bottom: 9px;}
.slide_video_thumb{display: block;position: absolute;width: 100%;height: 100%;}
.num a{display: block;position: relative;overflow: hidden; float: left;}
.num a i{display: block;position: absolute;overflow: hidden;width: 100%;height: 100%;cursor: pointer}
.num a.cover_num1{width: 153px;height: 101px;margin-left: 11px;_display:inline}
.num a.cover_num1 i{background: url(//i1.cy.com/sl/cover/20150701/slide_thumb1.png) no-repeat;}
.num a.cover_num2{width: 144px;height: 100px;margin-left: 6px}
.num a.cover_num2 i{background: url(//i1.cy.com/sl/cover/20150701/slide_thumb2.png) no-repeat;}
.num a.cover_num3{width: 150px;height: 97px;margin-left: 6px}
.num a.cover_num3 i{background: url(//i1.cy.com/sl/cover/20150701/slide_thumb3.png) no-repeat;}
.num a.cover_num4{width: 153px;height: 98px;margin-left: 5px}
.num a.cover_num4 i{background: url(//i1.cy.com/sl/cover/20150701/slide_thumb4.png) no-repeat;}
.num a:hover i{background-position: 0 bottom}

.cc2_reg{position: absolute;top:32px;left: 718px;}
.cc2_reg h3{font-weight:bold;margin-bottom: 15px;}

/*cover_clm3*/
.cover_clm3{background: url(//i1.cy.com/sl/cover/20150701/cover_clm3.jpg) no-repeat;height: 512px;overflow: hidden;position: relative}
.cover_clm3 .tabs{width:320px;height:83px;position:absolute;top:148px;left:50px;z-index:15;padding-left: 10px;border-bottom: 1px solid #c28e0b;height: 72px;width: 450px}
.cover_clm3 .tabs a{display:block;float:left;width:60px;height:73px;text-indent:-9999em;background-image:url(//i1.cy.com/sl/cover/20150701/pro_tab.png);background-repeat:no-repeat;margin-right: 20px;}
.cover_clm3 .tabs a#tab_top1{left:10px;background-position:0 -73px}
.cover_clm3 .tabs a#tab_top1.current,.career .tabs a#tab_top1:hover{background-position:0 0}
.cover_clm3 .tabs a#tab_top2{left:90px;background-position:-60px -73px}
.cover_clm3 .tabs a#tab_top2.current,.career .tabs a#tab_top2:hover{background-position:-60px 0}
.cover_clm3 .tabs a#tab_top3{left:170px;background-position:-120px -73px}
.cover_clm3 .tabs a#tab_top3.current,.career .tabs a#tab_top3:hover{background-position:-120px 0}
.cover_clm3 .tabs a#tab_top4{left:250px;background-position:-180px -73px}
.cover_clm3 .tabs a#tab_top4.current,.career .tabs a#tab_top4:hover{background-position:-180px 0}
.cover_clm3 .tabs_bot{width:937px;height:40px;position:absolute;top:429px;left:28px;z-index:15;padding-left: 0;}
.cover_clm3 .tabs_bot a{width:142px;height:44px;text-indent:0;text-align:center;line-height:40px;color:#eae0c8;font-size:14px;background:url(http://i1.cy.com/sl/cover/20150701/cover_tab_btm.jpg) no-repeat;position:relative;margin-right: 0}
.cover_clm3 .tabs_bot a em{display:none}
#tab_bot1{width: 176px;background-position: 0 0}
#tab_bot2{width: 194px;background-position: -176px 0}
#tab_bot3{width: 195px;background-position: -370px 0}
#tab_bot4{width: 194px;background-position: -565px 0}
#tab_bot5{width: 178px;background-position: -759px 0}
#tab_bot1:hover,#tab_bot1.current{background-position: 0 bottom;color: #522d15}
#tab_bot2:hover,#tab_bot2.current{background-position: -176px bottom;color: #522d15}
#tab_bot3:hover,#tab_bot3.current{background-position: -370px bottom;color: #522d15}
#tab_bot4:hover,#tab_bot4.current{background-position: -565px bottom;color: #522d15}
#tab_bot5:hover,#tab_bot5.current{background-position: -759px bottom;color: #522d15}
.cover_clm3 .tabs_bot a#tab_bot1.current em,.cover_clm3 .tabs_bot a#tab_bot1:hover em,.cover_clm3 .tabs_bot a#tab_bot2.current em,.cover_clm3 .tabs_bot a#tab_bot2:hover em,.cover_clm3 .tabs_bot a#tab_bot3.current em,.cover_clm3 .tabs_bot a#tab_bot3:hover em,.cover_clm3 .tabs_bot a#tab_bot4.current em,.cover_clm3 .tabs_bot a#tab_bot4:hover em,.cover_clm3 .tabs_bot a#tab_bot5.current em,.cover_clm3 .tabs_bot a#tab_bot5:hover em{display:block;width:13px;height:7px;background:url(http://i1.cy.com/sl/cover/20150701/cover_tab_arrow.png) no-repeat;position:absolute;left:50%;top:-7px;margin-left: -6px;}
.cover_clm3 .career_cont{display:none;width:937px;height:473px;position:absolute;top:0;left:28px;z-index:10}
.cover_clm3 .career_cont .career_ic{display:block;width:559px;height:432px;position:absolute;top:-3px;right:0;z-index:8}
.cover_clm3 .career_cont .exp{display:block;width:460px;height:252px;position:absolute;top:250px;left:14px;z-index:10}
.cover_clm3 .career_cont .exp h4{line-height:52px;color:#522c15;font-size:24px;font-weight:700;}
.cover_clm3 .career_cont .exp h4 span{font-size:18px;line-height:46px;padding-top:8px;font-weight:normal;padding-left:4px;color:#727272}
.cover_clm3 .career_cont .exp .words{padding:10px 0;line-height:22px;color:#000;font-size:14px}
.cover_clm3 .career_cont .exp .exp_more{display:block;width:87px;height:24px;background:url(//i1.cy.com/sl/cover/20150701/cover_check.png) no-repeat;text-indent:-9999em}

/*cover_clm4*/
.cover_clm4{background: url(//i1.cy.com/sl/cover/20150701/cover_clm4.jpg) no-repeat;height: 254px;overflow: hidden}
.cover_clm4_ad{padding: 29px 0 0 9px;}
.cover_clm4_ad li{float: left;margin-right: 22px;}
.cover_clm4_ad li a{display: block;width: 227px;height: 117px;overflow: hidden;}

/*font*/
.fton_24{font-size:24px;}

.txt_be2a0c{color: #be2a0c}












#pop_video{width:615px;height:445px;position:relative;display:none;padding:29px 74px 0 75px;background:url(//i1.cy.com/sl/main/20150522/bg_video.png) no-repeat;_background-image:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="//i1.cy.com/sl/main/20150522/bg_video.png",sizingMethod="crop")}
#pop_video h4{font-family:'\5FAE\8F6F\96C5\9ED1','\5B8B\4F53';font-size:20px;font-weight:700;line-height:48px;text-align:center;color:#1f1f1f}
#pop_video .close{display:block;width:35px;height:35px;position:absolute;top:37px;right:39px;text-indent:-9999em;background:url(//i1.cy.com/sl/main/20150522/close.jpg) no-repeat}
.bd{width:615px;height:347px;position:relative}
#pop .close{width:38px;height:38px;position:absolute;top:98px;right:29px;text-indent:-9999em}
#pop .pop_down{width:162px;height:49px;position:absolute;top:234px;left:130px;text-indent:-9999em;display:block}
#pop .pop_link{display:none;position:absolute;top:62px;left:104px;width:655px;height:368px;text-indent:-9999em}
#pop{width:837px;height:502px;position:relative;display:none}
.popbg{position:absolute;left:0;top:0;width:837px;height:502px;background:url(//i0.cy.com/sl/main/20150521/recharge_pop.png) no-repeat left top;_background-image:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="//i0.cy.com/sl/main/20150521/recharge_pop.png",sizingMethod="crop")}
.popdetail{position:relative;z-index:2}
#pop .close{width:38px;height:38px;position:absolute;top:98px;right:29px;text-indent:-9999em}
#pop .pop_down{width:162px;height:49px;position:absolute;top:234px;left:130px;text-indent:-9999em;display:block}
#pop .pop_link{display:none;position:absolute;top:62px;left:104px;width:655px;height:368px;text-indent:-9999em}
#float{width:216px;height:128px;position:fixed;right:0;bottom:110px;z-index:100;display:none}
*html #float{position:absolute;margin-top:expression(0 - parseInt(this.offsetHeight / 2) +(TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px')}
#float a{display:block;cursor:pointer;width:216px;height:128px;text-indent:-9999em;position:absolute;left:0;top:0;z-index:10}
#float .bg_float{background:url(//i0.cy.com/sl/main/20150521/recharge_btn.png) no-repeat;_background:0;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//i0.cy.com/sl/main/20150521/recharge_btn.png',sizingMethod='scale');width:216px;height:128px;position:absolute;left:0;top:0;z-index:5}
