blockquote,body,dd,div,dl,dt,fieldset,figure,form,h1,h2,h3,h4,h5,h6,input,li,ol,p,pre,td,textarea,th,ul{margin:0;padding:0;border:0;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
ol,ul{list-style:none}
body,html{font:18px "Helvetica Neue",Helvetica,STHeiTi,sans-serif;-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:none;-webkit-touch-callout:none;-webkit-user-select:text;-webkit-touch-callout:none;word-break:break-all;word-wrap:break-word}
h1,h2,h3,h4,h5,h6{font-weight:400}
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{font-weight:inherit}
form,img,input,select{vertical-align:middle;outline:0}
table{border-collapse:collapse;border-spacing:0}
ol,td,th,ul{padding:0;list-style-type:none}
[onclick],a,a:focus,button,button:focus,input,input:focus,select,select:focus,textarea,textarea:focus{outline:0;-webkit-tap-highlight-color:rgba(0,0,0,0.3)}
a{-webkit-touch-callout:none;text-decoration:none;outline:0;color:#fff}
a:active,a:hover,a:link,a:visited{color:#fff}
.hidden{width:0;height:0;line-height:0;font-size:0;visibility:hidden;text-indent:-9999px;display:block}
.clearfix:after{content:'.';display:block;height:0;visibility:hidden;overflow:hidden;clear:both}
em,i{font-style:normal;display:block}
.a{display:block;outline:0}
.flL{float:left}
.flR{float:right}
.nowrap{overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.txtInd{overflow:hidden;text-indent:-99999px}